<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Menu</title>
</head>
<body>
    <div class="alert alert-info display-1 text-center">INSCRIPCIONES</div>
    <div class="d-grid gap-2 col-6 mx-auto mt-5">
        
        <a href="listado/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">crud</a>
        <a href="inscripciones_class/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CBV</a>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <a href="instituciones_fun/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">FBV</a>
        <a href="inscripciones_api/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Api</a>
    </div>
    
</body>
</html>